{% extends "agecode/base.html" %}

{% block header %}
  <h2>{{ header_message }}</h2>
{% endblock header %}

{% block content %}
  {% if events %}
    {% for event in events %}
    <div class="card w-75">
        <div class="card-header">
          {{ event.date }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ event.location }}</h5>
          <p class="card-text">{{ event.title }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </br>
    {% endfor %}
  {% endif %}
{% endblock content %}