{% extends "agecode/base.html" %}


{% block header %}
  <h2>Upcoming events</h2>
  </br>
{% endblock header %}

{% block content %}
  {% if attending_events %}
    {% for attendance in attending_events %}
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5>{{ attendance.event.location }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ attendance.event.date }}</li>
      </ul>
        <div class="card-body">
          <a href="{% url 'agecode:cancel_event' attendance.event.id %}" class="btn btn-danger">Cancel Event</a>
          <a href="{% url 'agecode:details' attendance.event.id %}" class="btn btn-primary">Details</a>
        </div>
    </div>
      </br>
    {% endfor %}
  {% else %}
    <p>You are not attending any events yet.</p>
  {% endif %}
{% endblock content %}